<div class="navbarContainer">
   <div class="logoContainer">
        <img src="public/images/picaroologo.svg" alt="">
   </div>
   <div class="searchBarContainer">
       <input type="text">
       <a href="">Search</a>
   </div>
   <div class="navButtonsContainer">
        <a href="./login">LOGIN</a>
        <a href="./">LOGOUT</a>
        <a href="./registration">REGISTER</a>
   </div>
</div>